*{
    box-sizing: border-box;
}

h1, p{
    margin: 0;
}


body{
    background-color: #000C36;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Roboto Slab', sans-serif;
    justify-content: space-around;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.container {
    width: 90vw;
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
    
}

.header-container {
    padding: 0 2em;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Carter One', sans-serif;
}

.main-container {
    display: flex;
    flex-direction: column;
}

.poster-container {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 1em;
    margin-bottom: 1em; */
}

.poster-container > img {
    width: 90%;
    max-width: 300px;
}

.movie-description {
    margin-top: 1em;
    margin-bottom: 1em;
}

.btn-group{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.btn {
    width: 95%;
    font-size: 1.5rem;
    background-color: #51E08A;
    color: black;
    font-family: 'Carter One', sans-serif;
    border-radius: 5px;
}

.disabled-class {
    opacity: 0.5;
    cursor: not-allowed;
}